<meta charset="UTF-8" />
<title>GNOME Cargo Lock Analyzer</title>

<style>
    html {
        text-align: center
    }

    body {
        font-family: sans-serif;
        display: inline-block;
        text-align: left
    }

    td {
        padding: 0 10px;
        vertical-align: top
    }

    details {
        font-size: 12px;
    }

    td p {
        margin: 3px;
        font-family: monospace
    }

    tr:hover {
        background: lavender
    }

    tr[data-duplicate] td:nth-child(3) {
        color: white;
        background: darkred;
    }

    #only-outdated:checked~table tr:not([data-duplicate]):not([data-duplicate-recent]):not(.th) {
        display: none;
    }

    input#only-outdated {
        margin: 20px 0
    }

    td.known-package {
        background-color: #EEFFEE;
    }

    td.rare-unused {
        background-color: #ffd6b5;
    }

    td a,
    td a:visited {
        color: currentColor;
        text-decoration: none;
    }
</style>